<h1><%= "#{ @user.first_name } #{ @user.last_name }" %></h1>

<% if @user.image.present? %>
  <%= image_tag @user.image %>
<% end %>

<p>Member since <%= @user.created_at.strftime("%A %B %d %Y") %></p>

<% total_pledges = [] %>
<% @user.pledged_projects.each do |pledge| %>
  <% total_pledges << pledge.dollar_amount %>
<% end %>

<p>Total contributions: <%= number_to_currency(total_pledges.sum) %></p>

<p><%= mail_to @user.email, "Email #{ @user.first_name }" %></p>

<h2>Projects <%= "#{ @user.first_name }" %> Owns (<%= @user.owned_projects.count %>)</h2>
<ul>
  <% @user.owned_projects.each do |project| %>
    <li>
      <h3><%= link_to project.title, project %></h3>
      <p>Deadline: <%= project.end_date.strftime("%A %b %d %Y") %></p>
    </li>
  <% end %>
</ul>

<h2>Projects <%= "#{ @user.first_name }" %> Supports (<%= @user.pledged_projects.count %>)</h2>
<ul>
  <% @user.pledged_projects.each do |pledge| %>
    <li>
      <h3><%= link_to Project.find(pledge.project.id).title, project_url(pledge.project.id) %></h3>
      <p><%= "#{ @user.first_name }" %> gave <%= number_to_currency(pledge.dollar_amount) %></p>
    </li>
  <% end %>
</ul>
