<%# User profile page is fully public - no login required %>

<% @user = current_user %>

<h1><% @user.first_name %> <% @user.last_name %></h1>

<p>Member since <%= @user.created_at.strftime("%A %B %d %Y") %></p>

<p>
  Total contributions:
  <%= total_pledges = [] %>
  <% @user.pledged_projects.each do |pledge| %>
    <% total_pledges << pledge %>
    <% puts total_pledges.sum %>
  <% end %>
</p>

<p>Contact me at <%= mail_to @user.email, @user.email %></p>

<hr>
<%# These 'hr' lines are just a visual aid for while the page is un-CSS'd. %>

<h2>Projects I Own</h2>
<ul>
  <% @user.owned_projects.each do |project| %>
    <li>
      <% if project.image.present? %>
        <%= image_tag project.image %>
      <% end %>
      <h3><%= link_to project.title, project %></h3>
      <p>Deadline: <%= project.end_date.strftime("%A %b %d %Y") %></p>
    </li>
    <hr> <%# I feel like this hr is 'hidden'. Commenting for findability. %>
  <% end %>
</ul>

<%# Might need to create a 'backed_projects' association for this: %>
<h2>Projects I've Backed</h2>
<%# Iterate the same way the owned_projects one did? %>
Project:
I pledged:



<%# Dunno if this is gonna work at all: %>
<% if @user == current_user %>
  <h2>Edit My Details?</h2>
  <% render 'form' %>
<% end %>
