<h2><%= link_to 'Edit Project', edit_project_path(@project) %></h2>

<h2>Add an Update</h2>
<%= render 'form_comment', {project: @project, comment: @comment} %>

<h2>Backers(<%=@project.pledges.count%>)</h2>


<% @project.pledges.each do |pledge| %>
<ol>
  <li><em><%= pledge.user.first_name %></em> <strong><%= "   Pledge Amount: #{number_to_currency(pledge.dollar_amount)}" %></strong> </li>
</ol>
<% end %>
