<h1><%= @project.title %></h1>


<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<if @project.owner == current_user %>
    <%= render 'owner_show'%>
    <%else%>
    <%= render 'user_show', {project: @project, pledge: @pledge} %>

<h2>Rewards</h2>

<% if @project.owner == current_user %>
<%= link_to "Add New Reward", new_project_reward_path(@project) %>
<% end %>


<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <% if @project.owner == current_user %>
    <p>
      <small>
        <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
      </small>
    </p>
  <% end %>
<% end %>
