<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="site-header">
      <h1 class="logo"><%= link_to 'Crowdfunder', root_url %></h1>

      <nav class="site-nav">
        <% if current_user %>
          <%= link_to "My Profile", '/users/show' %> •
          <%= link_to "Browse Categories", '/categories' %> •
          <%= link_to "Log Out", :logout, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </nav>
    </header>

    <div class="error_explanation">
            <% if flash.any? %>
            <% flash.each do |key, value| %>
            <h3 class="<%= key %>">
              <%= value %>
            </h3>
            <% end %>
           <% end %>
         </div>

    <main>
      <%= yield %>
    </main>

    <footer class="site-footer">
      <small>A Bitmaker assignment</small>
    </footer>
  </body>
</html>
